@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
.personal-bg-img{
    text-align: center;
    background-image: url("/src/images/pexels-alexander-suhorucov-6457556.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left 30%;
    font-family: 'Montserrat', sans-serif;
}
.personal-bg-img > h1{
    padding-top: 10%;
    font-size: 3.5rem;
    color: white;
    padding-bottom: 30px;
}
.signUp-personal-btn-style{
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 6%;
    padding-right: 6%;
    border-radius: 20px;
    cursor: pointer;
    background-color: #0070BA;
    color: #ffff;
    font-weight: bolder;
    font-size: 15px;
    border: none;
    text-transform: capitalize;
    text-decoration: none;
    margin-bottom: 80px;
}