.Logo-style{
    width: 30%;
    padding-left: 35%;
}
.signInForm-container-style{
    background-color: white;
}
.signInForm-style{
    border: 1px solid #EAECED;
    margin: auto;
    width: 40%;
    background-color: white;
    margin-top: 10%;
    border-radius: 20px;
}
.form-input-container{
    margin-left: 15%;
}
.input-style{
    padding-top: 25px;
    padding-bottom: 25px;
    border-radius: 5px;
    padding-left: 1%;
    padding-right: 38%;
    outline: none;
    border: 1px solid #9DA3A6;
    margin-bottom: 3%;
}
.input-style::placeholder{
    font-size: 14px;
    text-transform: capitalize;
    font-weight: bold;
}
.input-style:focus{
    box-shadow: 0 0 9px #1072EB;
}
.forget-email-btn-style{
padding-top: 10px;
padding-bottom: 10px;
padding-right: 40px;
font-size: 19px;
font-weight: 300;
background-color: white;
border: none;
cursor: pointer;
color: #1072EB;
margin-bottom: 5%;
}
.next-btn-style{
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 34%;
    padding-right: 36%;
    border-radius: 23px;
    cursor: pointer;
    background-color: #142C8E;
    color: #ffff;
    font-weight: bold;
    font-size: 17px;
    border: none;
    text-transform: capitalize;
    margin-bottom: 50px;
    text-align: center;
}
.sign-up-btn-style{
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 34%;
    padding-right: 30%;
    border-radius: 23px;
    cursor: pointer;
    background-color: #ffff;
    color: #485BA7;
    font-weight: bold;
    font-size: 17px;
    border: 1px solid #485BA7;
    text-transform: capitalize;
    margin-bottom: 150px;
    text-align: center;
}
.form-flag-container-style{
    /* text-align: center; */
    margin-left: 35%;
    margin-bottom: 10%;
    cursor: pointer;
}
.form-flag-flex-style{
    display: flex;
    align-items: center;
}
.icon-Style{
    width: 30px;
    padding-right:10px ;
}