@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
.get-started-container-style{
    text-align: center;
    background-color: #f9f7fa;
    padding: 5%;
}
.get-started-container-style > h2{
    font-size: 30px;
    padding-bottom: 30px;
    font-family: 'Montserrat', sans-serif;
}
.get-started-container-style > button{
    padding-top: 18px;
    padding-bottom: 18px;
    padding-left: 12%;
    padding-right: 12%;
    border-radius: 23px;
    cursor: pointer;
    background-color: #0070ba;
    color: #ffff;
    font-weight: bold;
    font-size: 15px;
    border: none;
    text-transform: capitalize;
    margin-bottom: 20px;
}